{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome on your project 3</h1>
    <a class="btn btn-primary" href="#">Home</a>
    <a class="btn btn-success" href="#">Home</a>
{% endblock %}
