{% extends 'adminLayout.html.twig' %}

{% block title %}Lists{% endblock %}

{% block body %}
    <h1>Lists of {{ list.user.email }} - {{ list.year }}</h1>
    <div class="row">
        {% for gift in list.gifts %}
            <div class="card col-3">
                <h2>{{ gift.name }}</h2>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{{ path('list_pdf', {'id': list.id}) }}">PDF</a>
{% endblock %}
